@charset "UTF-8";
#availability{
	visibility:hidden;
}

.fh5co-bg-colorr{
	background: #631048;
}

.descrip text-centerr{

	background: #fcb915;
}

.fh5co-bg-colorrr{

	background: #fcfaf4 !important;
}


.nuestro{
	color: #F44336 !important;
}

.otra{
	text-align: center;
}

.social-icons{

	text-align: center;
}

.feli{

	    text-align: justify;
}

.text-centere{

	text-align: left;

}